.card-category {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  flex-basis: 250px;
	flex-grow: 1;
	margin: 10px;
}
.card-category img {
  margin: 5px;
  width: 150px;
  object-fit: contain;
  border-radius: 10px;
}
.card-category h3 {
  flex-grow: 1;
  padding-left: 20px;
}

.cards {
  display: flex;
	flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
